<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search-field" type="search" placeholder="Поиск" v-model="searchLine">
                        <button class="btn btn-outline-success my-2 my-sm-0 search-button" @click='filterGoods()' type="button">Искать</button>
                    </form>
                    <button  type="button" class="btn btn-primary" v-on:click="isVisibleCart=!isVisibleCart"> Корзина </button>
                    <div class="cart-price">Сумма товаров: {{ goodsPrice() }}</div>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
               <div v-show="isVisibleCart" class="goods-list">
                    <div v-if='basketGoods.length < 1'><h1>Нет данных</h1></div>
                    <div v-else class="row justify-content-md-center">
                        <div class="col-md-auto" v-for="good in basketGoods">
                            <div class="basket-item">
                                <img :src="imgCatalog" :alt="good.product_name">
                                <div class="basket-info">
                                    <h3>{{good.product_name}}</h3>
                                    <p>{{good.price}}</p>
                                </div>
                                <button class='deleteItem' @click='deleteItem(good.id_product)'>&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-auto" v-for="good in filteredGoods">
                        <div class="card" style="width: 15rem;"> <img :src="imgCatalog" class="card-img-top" :alt="good.product_name">
                            <div class="card-body">
                                <h3 class="card-title">{{good.product_name}}</h3>
                                <p class="card-text">{{good.price}}</p>
                                <button class="btn btn-success" @click="addToCart(good.id_product)">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
    </div>
    <script src="./js/main.js"></script>
</body>

</html>